<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FootySpace</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

  <body>

    <section class="hero is-primary">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <%= link_to image_tag("https://i.ibb.co/LYF9HTK/default-monochrome-white.png"), {action: "home", controller: "pages"}, class: "navbar-item" %>
              <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
          </div>
        </nav>
      </div>
    </section>

    <section class="section">
      <div class="container has-text-centered">
        <p class="title is-family-sans-serif">Your go-to site for the latest results & highlights of the major European leagues!</p>
      </div>
    </section>

    <section class="section">

      <div class="container">
        <div class="field">
          <div class="control">
            <%= link_to premier_league_path do %>
              <div class="box">
                <div class="level">
                  <div class="level-left">
                    <div class="level-item">
                      <p class="title is-family-primary">English Premier League</p>
                    </div>
                  </div>
                  <div class="level-right">
                    <div class="level-item">
                      <figure class="image is-64x64">
                        <%= image_tag("premier_league_square.png") %>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= link_to la_liga_path do %>
              <div class="box">
                <div class="level">
                  <div class="level-left">
                    <div class="level-item">
                      <p class="title is-family-primary">Spanish La Liga</p>
                    </div>
                  </div>
                  <div class="level-right">
                    <div class="level-item">
                      <figure class="image is-64x64">
                        <%= image_tag("la_liga_square.png") %>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= link_to ligue_1_path do %>
              <div class="box">
                <div class="level">
                  <div class="level-left">
                    <div class="level-item">
                      <p class="title is-family-primary">French Ligue 1</p>
                    </div>
                  </div>
                  <div class="level-right">
                    <div class="level-item">
                      <figure class="image is-64x64">
                        <%= image_tag("ligue_1_square.png") %>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= link_to bundesliga_path do %>
              <div class="box">
                <div class="level">
                  <div class="level-left">
                    <div class="level-item">
                      <p class="title is-family-primary">German Bundesliga</p>
                    </div>
                  </div>
                  <div class="level-right">
                    <div class="level-item">
                      <figure class="image is-64x64">
                        <%= image_tag("bundesliga_square.png") %>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= link_to serie_a_path do %>
              <div class="box">
                <div class="level">
                  <div class="level-left">
                    <div class="level-item">
                      <p class="title is-family-primary">Italian Serie A</p>
                    </div>
                  </div>
                  <div class="level-right">
                    <div class="level-item">
                      <figure class="image is-64x64">
                        <%= image_tag("serie_a_square.png") %>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>

  </body>
</html>
