<p id="notice"><%= notice %></p>

<h1>Matches</h1>

<table>
  <thead>
    <tr>
      <th>Team 1</th>
      <th>Team 2</th>
      <th>Score 1</th>
      <th>Score 2</th>
      <th>Youtube link</th>
      <th>Match date</th>
      <th>League</th>
      <th>Matchday</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.team_1.name %></td>
        <td><%= match.team_2.name %></td>
        <td><%= match.score_1 %></td>
        <td><%= match.score_2 %></td>
        <td><%= match.youtube_link %></td>
        <td><%= match.match_date.to_date.to_s %></td>
        <td><%= match.league.name %></td>
        <td><%= match.matchday %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
