<p id="notice"><%= notice %></p>

<p>
  <strong>Team 1:</strong>
  <%= @match.team_1.name %>
</p>

<p>
  <strong>Team 2:</strong>
  <%= @match.team_2.name %>
</p>

<p>
  <strong>Score 1:</strong>
  <%= @match.score_1 %>
</p>

<p>
  <strong>Score 2:</strong>
  <%= @match.score_2 %>
</p

<p>
  <strong>Match date:</strong>
  <%= @match.match_date.to_date.to_s %>
</p>

<p>
  <strong>League:</strong>
  <%= @match.league.name %>
</p>

<p>
  <strong>Matchday:</strong>
  <%= @match.matchday %>
</p>

<p>
  <strong>Video thumbnail:</strong>
  <div style="width:400px; height:auto">
    <%= image_tag(@match.video_thumbnail, style:'width:100%') if @match.video_thumbnail.attached? %>
  </div>
</p>

<p>
  <strong>Youtube link:</strong>
  <%= @match.youtube_link %>
</p>

<p>
  <strong>Video title:</strong>
  <%= @match.video_title %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
